# Data wrangling with Python

Dataframe creation

1. Creating a dataframe from dictionary
2. from csv and excel

Data understanding

1. Datframe visual inspection
2. Datatypes
3. Locating rows and columns
4. Subsetting
5. Frequency counts
6. Summary statistics

Data Preparation

1. Tidy data - melting and pivoting and Resetting index of a dataframe
2. Adding and deleting the columns
3. Adding and deleting the rows
4. Renaming columns and rows
5. Creating bins(categories) of values of a variables
6. Sorting data
7. Grouping data
8. Finding and concatenating
8. Appending and merging of Dataframes
9. Converting into different datatypes
10. Using regular expressions to clean strings
11. User defined function and Lambda function
12. Duplicate and missing data
13. Testing with Asserts 
14. Exporting to csv/Excel

Creating a dataframe from dictionary

In [4]:
import pandas as pd

In [5]:
dict1 = {
"country":["Brazil", "Russia", "India", "China", "South Africa"],
"capital":["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria"],
"area":[8.516, 17.10, 3.286, 9.597,1.221],
"population":[200.4, 143.5, 1252, 1357,52.98] }

In [6]:
type(dict1)

dict

In [7]:
df = pd.DataFrame(dict1)
df

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Delhi   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [8]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df = pd.DataFrame(dict1, 
                  index = ['A','B','C','D','E'], 
                  columns = ['country','capital','area','population'])
df

        country    capital    area  population
A        Brazil   Brasilia   8.516      200.40
B        Russia     Moscow  17.100      143.50
C         India  New Delhi   3.286     1252.00
D         China    Beijing   9.597     1357.00
E  South Africa   Pretoria   1.221       52.98

In [10]:
df

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Delhi   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [18]:
df=df[['capital','country']]

     capital       country
0   Brasilia        Brazil
1     Moscow        Russia
2  New Delhi         India
3    Beijing         China
4   Pretoria  South Africa

In [14]:
df[['country','capital','area']]

        country    capital    area
A        Brazil   Brasilia   8.516
B        Russia     Moscow  17.100
C         India  New Delhi   3.286
D         China    Beijing   9.597
E  South Africa   Pretoria   1.221

In [20]:
dict1['country'][2:]

['India', 'China', 'South Africa']

In [ ]:
loc[row_index,'column_name']

In [28]:
reset_index()

NameError: name 'reset_index' is not defined

In [26]:
df=df.reset_index

AttributeError: 'function' object has no attribute 'reset_index'

In [27]:
type(df)

method

In [21]:
df.loc[2:4,'country']

2           India
3           China
4    South Africa
Name: country, dtype: object

In [23]:
dict2 = {
"country":"South Africa",
"capital":"Pretoria",
"area":1.22,
"population":52.98}

In [26]:
type(dict2)

dict

In [24]:
x = pd.Series(dict2, index= ["country", 'capital','area','population'])
x

country       South Africa
capital           Pretoria
area                  1.22
population           52.98
dtype: object

In [ ]:
pd.Series(['South Africa','Pretoria',1.22,52.98], index =['A','B','C','D'])

In [ ]:
brics = pd.DataFrame(dict1, 
                     columns = ["country", 'capital','area','population'],
                     index = [('A'),('B'),('C'),("D"),('E')])
brics

creating dataframe using lists

In [ ]:
lst1 = ['Brazil','Brasilia',8.516,200.40]
lst2 = ['South Africa','Pretoria',1.22,52.98]

In [ ]:
pd.DataFrame([lst1,lst2])

In [ ]:
pd.DataFrame([['Brazil','Brasilia',8.516,200.40],
             ['Russia','Moscow',17.100,143.50]],
            columns = ["country", 'capital','area','population'],
            index = ['A','B'])

In [ ]:
## Series 
ser = pd.Series([200.4, 143.5, 1252, 1357, 52.98],index =["Brazil", "Russia", "India", "China", "South Africa"])
ser

In [ ]:
print(ser['Russia'])
ser.Russia

In [27]:
pwd()

'/home/ml/Desktop/Linear_Regression/Pandas'

In [28]:
import os
os.getcwd()

'/home/ml/Desktop/Linear_Regression/Pandas'

In [ ]:
os.chdir('/Users/nimisha/Downloads/Ds Simplilearn data')

In [ ]:
C:\\Usersb

In [ ]:
'a 12 \n w 23'

In [29]:
?pd.read_excel

In [4]:
import pandas as pd

In [5]:
pwd

'/home/ml/Desktop/Linear_Regression/Pandas'

In [6]:
samp = pd.read_csv("Sample_data.csv")

In [7]:
type(samp)

pandas.core.frame.DataFrame

In [37]:
samp.head()

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31
3  141       0     4    3       1     3    63     44     47     53   56
4  172       0     4    2       1     2    47     52     57     53   61

In [38]:
samp.tail()

      ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
195   31       1     2    2       2     1    55     59     52     42   56
196  145       1     4    2       1     3    42     46     38     36   46
197  187       1     4    2       2     1    57     41     57     55   52
198  118       1     4    2       1     1    55     62     58     58   61
199  137       1     4    3       1     2    63     65     65     53   61

In [34]:
samp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 11 columns):
ID        200 non-null int64
Gender    200 non-null int64
Race      200 non-null int64
SEB       200 non-null int64
School    200 non-null int64
Prog      200 non-null int64
Read      200 non-null int64
Write     200 non-null int64
Math1     200 non-null int64
Math2     200 non-null int64
SST       200 non-null int64
dtypes: int64(11)
memory usage: 17.3 KB

In [ ]:
brics.info()

In [39]:
samp.columns

Index(['ID', 'Gender', 'Race', 'SEB', 'School', 'Prog', 'Read', 'Write',
       'Math1', 'Math2', 'SST'],
      dtype='object')

In [42]:
samp= pd.read_csv("Sample_data.csv",
index_col = 0)
samp.head(10)

       Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
ID
NaN         0     4    1       1     1    57     52     41     47   57
121.0       1     4    2       1     3    68     59     53     63   61
86.0        0     4    3       1     1    44     33     54     58   31
141.0       0     4    3       1     3    63     44     47     53   56
172.0       0     4    2       1     2    47     52     57     53   61

In [45]:
samp_1 = pd.read_csv("Datasets/Sample_data.csv", 
                     index_col = 0,
                  usecols = ['ID','Prog',"Race","Gender","SEB"])

In [46]:
samp_1.head()

       Gender  Race  SEB  Prog
ID
NaN         0     4    1     1
121.0       1     4    2     3
86.0        0     4    3     1
141.0       0     4    3     3
172.0       0     4    2     2

In [ ]:
samp_2 = samp_1.reset_index()

In [ ]:
samp_1.reset_index(inplace = True)

In [ ]:
samp_1.head()

In [ ]:
samp_1.set_index('ID', inplace = True)

In [ ]:
samp_1.head()

In [ ]:
#samp_1.rename({'Gender':'GENDER','Race':'RACE'}, axis = 1)

In [ ]:
samp = pd.read_csv("Datasets/sample_data.csv")
samp.head(2)

In [ ]:
# view data

In [ ]:
## samp ---> file object of dataframe class type
## head() ---> function
samp.head() ## first 5 rows by default

In [ ]:
samp.head(2)

In [ ]:
samp.tail() ## bottom 5 rows by default

In [ ]:
samp.columns #attribute variables

In [ ]:
samp.shape

In [ ]:
samp.size

In [ ]:
samp.dtypes

#### Access Data in dataframe

## Access a column

In [ ]:
brics['capital'] ## return a series

In [ ]:
brics.capital ##  returns a Series

In [ ]:
brics[['capital']] ## returns a Dataframe

In [ ]:
brics[['country','capital']]

In [ ]:
brics[0:3]

In [ ]:
brics.country[0:3]

In [ ]:
brics[['country','capital']][0:3]

In [ ]:
## Access Rows and Columns

### loc and iloc

dataframe.loc[index] ---> row ---> row name row index or column name

In [ ]:
brics.loc['A', 'country']

In [ ]:
brics.loc['A':'D', ['country','capital']]

In [ ]:
samp.set_index('ID',inplace = True)

In [47]:
samp.loc[70:50,['Gender','Prog']]

KeyError: 70.0

In [ ]:
samp.loc[[121:200]] #rows as dataframes

In [ ]:
brics.loc['A'] ## Series

In [ ]:
samp.loc[[70,121,86]]

In [ ]:
samp.loc[[70,121,86],["Gender","Race"]]

iloc : actual index ---> row numbers and column numbers

In [ ]:
samp.loc[70:86,'Gender':'Prog']

In [ ]:
samp.iloc[70:86,0:4]

brics['new_column'] =

Data Type Conversion

In [ ]:
import numpy as np

In [ ]:
brics['population'] ## Series

In [ ]:
brics.population.astype('str')

In [ ]:
brics

In [ ]:
brics['pop_str']= brics["population"].astype('str')

In [ ]:
brics["new_column"] = [1,2,3,4,5]

In [ ]:
brics

In [ ]:
brics['pop_float']=brics.population.astype(np.complex)

In [ ]:
brics

In [ ]:
brics.country = brics.country.astype('category')

In [ ]:
brics.info()

In [ ]:
brics

In [ ]:
samp.loc[[70,121,86],['Gender','Race']]

In [ ]:
samp.loc[70:86,['Gender','Race']]

In [ ]:
#samp[['Gender','SEB']]

In [ ]:
samp.loc[70:113,['Math1']]

In [ ]:
samp.reset_index(inplace = True)

In [ ]:
samp.set_index('Gender', inplace = True)

In [ ]:
samp.loc[[0]].head(1)

In [ ]:
samp.Gender = samp.Gender.astype('category')

In [ ]:
samp.describe()

In [ ]:
samp.Gender.describe()

In [ ]:
brics.loc['A':'D':2,['country','capital']]

In [ ]:
brics.loc['B':'D','country':'population']

In [ ]:
samp.index

In [ ]:
samp.reset_index(inplace = True)
samp.set_index('ID', inplace = True)

In [ ]:
samp.loc[[70,121,86],['Gender','Race']]

In [ ]:
samp.iloc[[0,1,2],[0,1]]

In [ ]:
samp.head()

In [ ]:
sum_ser = samp.Read + samp.Write + samp.Math1 + samp.Math2 +samp.SST

samp.insert(location, name of the column, values)

In [ ]:
## insert a column

In [ ]:
samp.insert(5,'Total',sum_ser)

In [ ]:
samp.head()

In [ ]:
samp.iloc[:,-5:-1].sum(axis = 0)

In [ ]:
df.iloc[rows , columns]
df.iloc[rows = : , columns = -5 :-1 : 1 ]

In [ ]:
samp.iloc[:,-5:-1].sum(axis = 1).head(2)

#### axis  -- rows or columns 
#### axis is defined by 0 or 1

#### axis = 0 ---> column wise operation or row wise reduction
#### axis = 1 ---> row wise operation or column wise reduction

In [ ]:
## removing Row or column -- drop

In [ ]:
samp.drop('Gender', axis = 1 , inplace=True).head()

In [ ]:
samp.drop(labels = 70, axis = 0).shape

In [ ]:
?samp.drop

In [ ]:
#samp.drop(columns = 'Gender',axis = 1)

In [ ]:
samp --> Gender (0, 1)

## Filtering Dataframes

In [ ]:
a =np.array([[1,2,3],[3,4,5],[5,6,7]])
a

In [ ]:
a[(a>2) | (a>5)]

In [ ]:
brics = brics.iloc[:,0:4].copy()

In [ ]:
brics.loc[[False,True,False,True,False],[False,True,False,True]]

In [ ]:
samp[samp['Math1'] >= 35].shape ## expression

In [ ]:
samp_1 = samp.copy()

In [ ]:
samp_1.loc[(samp_1['Math1'] >50),'Math1' ] = 'Pass'

In [ ]:
samp_1.head()

In [ ]:
samp[(samp['Math1'] >75) ].shape

#### & ---> and
#### | ---> or

In [ ]:
(samp['Math1']>54) & (samp["Math1"]<70)

In [ ]:
samp[(samp['Math1']>54) & (samp["Math1"]<70)].shape

In [ ]:
brics[(brics['country']=='Brazil')|(brics['country']=='Russia')]

&  -- elementwise
|  -- elementwise
! / not

In [ ]:
np.logical_and(multiple expression seperated by commas)

In [ ]:
samp[np.logical_and(samp['Math1']>54,samp['Math1']<70)].shape

In [ ]:
brics[np.logical_or(brics['country']=='Brazil',brics['country']=='Russia')]

In [ ]:
samp[np.logical_or(samp['Race']==1,samp['Race']==2)].head(2)

In [ ]:
samp[np.logical_and(
    np.logical_or(samp['Race']==1,samp['Race']==2),samp['Math1']>60)]

In [ ]:
samp[np.logical_or(samp['Race']==1,samp['Race']==2)].shape

#### Fitering a dataframe for values of a variable stored in a list

emp data -- country
select employees belonging to either of the countries from a given list
['India', 'China','Mexico','Japan','Egypt']

df.city == 'A' | df.city == 'C'|df.city == 'D'
c = ['A','C','D']
df[df.city.isin(c)]

In [ ]:
lst=[1,2]

In [ ]:
samp[['Race']].isin(lst)

In [ ]:
matches = pd.read_csv('Datasets/matches.csv')

In [ ]:
## filter for all the matches that played in - 'Hyderabad, Pune, Mumbai , Delhi , Kolkata'

In [ ]:
matches.shape

In [ ]:
lst_cities = ['Hyderabad', 'Pune', 'Mumbai', 'Delhi', 'Kolkata']

In [ ]:
matches[matches.city.isin(lst_cities)].shape

Summary Statistics

In [ ]:
samp.describe()

In [ ]:
samp.Prog.value_counts()

In [ ]:
samp[samp.Prog == 2].shape

In [ ]:
categorical = list(samp.columns)[0:5]

In [ ]:
categorical

In [ ]:
for i in categorical:
    samp[i]=samp[i].astype('category')

In [ ]:
samp.info()

In [ ]:
samp.describe()

In [ ]:
samp[categorical].describe()

In [ ]:
samp.Gender.value_counts()

In [ ]:
samp.Race.mode()

In [ ]:
samp.Math1.quantile()

In [ ]:
samp.Math1.quantile(.25)

In [ ]:
samp.Math1.quantile(.75)

In [ ]:
samp.Math1.quantile(.5)

In [ ]:
samp.Math1.std()

In [ ]:
samp.Math1.var()

In [ ]:
# Cross Frequency Matrix

In [ ]:
pd.crosstab(samp.Gender,samp.Prog,margins= True)

In [ ]:
pd.crosstab([samp.Gender,samp.Prog],samp.Race, margins = True)

Melting and Pivoting the Data

In [ ]:
patients=pd.read_csv('Datasets/Patient treatment trns.csv')

In [ ]:
patients

In [ ]:
## Transpose Dataframe
patients.T

In [ ]:
#Transpose the data(Pivot)
patients_t = patients.pivot(index='Patient', 
                            columns='Treatment', 
                            values='Spend')

In [ ]:
pd.crosstab(patients.Patient,patients.Treatment) ## fills in count  while pivot fills in values

In [ ]:
patients_t

In [ ]:
#Melt the data
patients_m = pd.melt(frame=patients_t.reset_index(), 
                     id_vars=['Patient'], 
                     value_vars=['T1', 'T2', 'T3', 'T4', 'T5']).dropna()

In [ ]:
patients_m

### Create Excel like Summarised Pivot Table

df.pivot_table(index=None, columns=None, 
               values=None,aggfunc='mean', 
               fill_value=None, 
               margins=False, 
               dropna=True, 
               margins_name='All')

In [ ]:
matches.pivot_table(index='team1',
                    columns='team2',
                    values ='win_by_runs',
                    fill_value = '-'
                    ).head()

In [ ]:
matches.loc[(matches.team1 == 'Chennai Super Kings') & (matches.team2 == 'Deccan Chargers'),'win_by_runs'].mean()

## counting the no. of matches played between each pair of teams

1st pair of teams : Chennai Super Kings Deccan Chargers

In [ ]:
matches.loc[(matches.team1 == 'Chennai Super Kings') & (matches.team2 == 'Deccan Chargers') ,'id'].count()

In [ ]:
matches.pivot_table(index='team1',
                    columns='team2',
                    values ='id', 
                    aggfunc = 'count',
                   fill_value = '-')

In [ ]:
matches.pivot_table(index='team1',
                    columns='toss_decision',
                    values ='id', 
                    aggfunc = 'count',
                   fill_value = '-')

## Handling String columns

In [ ]:
strw ='Python'
strw[0]

In [ ]:
#Splitting a column with .str
matches['new1']=matches.toss_decision.str[0]

In [ ]:
matches.toss_decision.head(3)

In [ ]:
matches.toss_decision.apply(lambda x:x.upper()).head(3)

In [ ]:
for i in range(len(matches)):
    matches.toss_decision[i] = matches.toss_decision[i].upper()

In [ ]:
matches.toss_decision.str.upper().head(3)

In [ ]:
matches.toss_decision[0]

In [ ]:
matches.toss_decision = matches.toss_decision.str.upper()

In [ ]:
matches.toss_decision.value_counts()

In [ ]:
matches.new1.value_counts()

In [ ]:
strw ='Nimisha'
strw[:4]

In [ ]:
matches.city.str[:3].head(3)

In [ ]:
matches.city.str[:3].head(3)

In [ ]:
matches.city.str[2:5].head(3)

In [ ]:
string = 'My name * is * Nimisha'

In [ ]:
type(string.split('*'))

In [ ]:
matches['new2']=matches.team1.str.split()

In [ ]:
matches.iloc[:2,[0,4,-1]].head()

In [ ]:
matches.new2.str.get(0).head(2)

In [ ]:
matches['new2']=matches.new2.str.get(0)

In [ ]:
matches.iloc[:2,[0,4,-1]].head()

In [ ]:
#Concatenating multiple string columns

matches['teams12'] = matches['team1'] + " vs " + matches['team2']

In [ ]:
#matches.teams12.str.rjust(50)

In [ ]:
ser_1 = pd.Series([1,2,3,4,5,6], index= ['a','b','c','d','e','g'])
ser_2 = pd.Series([10,20,30,40,50,60],index = ['a','b','e','c','d','f'])

In [ ]:
ser_1 * ser_2

In [ ]:
ser_1.add(ser_2,fill_value = 0)

In [ ]:
?matches.assign

In [ ]:
samp_1 = samp.assign(percentage = samp.Total/5)

In [ ]:
# Creating new data frame with old and new variables using 'Assign' 

matches_1=matches.assign(fname = 
                         matches.player_of_match.str.split().str.get(0))

In [ ]:
matches_1.columns

In [ ]:
matches.new_column.head(3)

In [ ]:
matches.head(2)

# SORTING DATAFRAMES

In [ ]:
matches.sort_values(by='team1', ascending=True, inplace=True)

In [ ]:
matches.team1.head()

In [ ]:
samp_1.sort_values(by = 'Total', ascending=False, inplace = True)

In [ ]:
samp_1.sort_values(by = ['Gender','Total','Math1'], ascending=[True,False,False], inplace = True)

In [ ]:
samp_1.Gender.value_counts()

In [ ]:
samp_1[['Gender','Total','Math1']][90:97]

In [ ]:
matches.sort_values(by=['team1','win_by_runs'], 
                    ascending=[False,True],
                    inplace=True)

In [ ]:
matches

In [ ]:
## storing a dataframe in a format on the machine

In [ ]:
matches.to_csv('file.csv')

In [ ]:
select col1,col2,col3
from table
where col4 > 50
table[col1,col2,col3,col4,col5]

In [ ]:
samp.loc[samp.Write > 50,[columns]]

GroupBy:

.size() method, which returns the count of elements in each group.

Aggregate Functions:

count, sum, mean, median, std, var, first, last, min, max
methods like .describe apply to these objects

GroupBy Object methods: .agg() .transform(), and .apply()

In [ ]:
grouped = samp.groupby('Gender')

grouped.get_group(group) ---> return the filtered data

In [ ]:
grouped.get_group(1)

In [ ]:
grouped.describe().T

In [ ]:
samp.describe()

In [ ]:
grouped.agg('mean')

In [ ]:
grouped.mean()

In [ ]:
samp.groupby('School').mean()

In [ ]:
samp.groupby(['School','Gender']).mean()

In [ ]:
#file_name.groupby([])[[list of variables]]. aggFunct()
#grpd = samp.groupby(['School','Gender'])
#obj = grpd[['Math1','SST']]
#obj.mean()
samp.groupby(['School','Gender'])[['Math1','SST']].mean()

Multiple Aggregation

In [ ]:
samp.groupby(['School','Gender'])[['Math1','SST']].agg(['mean','std','var','sum'])

Custom Aggregation

In [ ]:
def data_range(series):
    return series.max() - series.min()

In [ ]:
samp.groupby(['School','Gender'])[['Math1','SST']].agg(data_range)

Custom Aggregation : Dictionaries

In [ ]:
samp.groupby(['School','Gender']).agg({'Read':['mean','std'],
                                      'Math1':'median',
                                     'Prog':'count'})

In [ ]:
?grouped.agg

Using regular
expressions to
clean strings

12345678901              \d*
$12345678901             \$\d*
$12345678901.42          \$\d*\.\d*
$12345678901.42          \$\d*\.\d{2}
123-456-7890             \d{3}-\d{3}-\d{4}
Australia                [A-Z]\w*


The regular expression module in python is re. When performing pattern matching on data, 
since the pattern will be used for a match across multiple rows,
it's better to compile the pattern first using re.compile(), and then use the compiled 
pattern to match values.

Do visit https://docs.python.org/2/library/re.html for more information

In [ ]:
import re

In [ ]:
#Write a pattern that will 
#find all the numbers in the following string: 'It is a big 198 lines' program; need to reduce to less than 50'

match = re.findall('\d+', "It is a big 198 lines' program; need to reduce to less than 50")

match

After compilation, methods can be applied:
    
split,
findall  - returns all matches,
match  - checks only the beginning of the string,
search  - returns the first occurrence
sub  - returns a new string with occurrences of the pattern replaced with the supplied string

In [ ]:
data = {'raw': ['Arizona 1 2014-12-23       3242.0',
                'Iowa 1 2010-02-23       3453.7',
                'Oregon 0 2014-06-20       2123.0',
                'Maryland 0 2014-03-14       1123.6',
                'Florida 1 2013-01-15       2134.0',
                'Georgia 0 2012-07-14       2345.6']}
df = pd.DataFrame(data, columns = ['raw'])
df

In [ ]:
df['raw'].str.contains('[0-9]',regex=True)

In [ ]:
# In the column 'raw', extract xxxx-xx-xx in the strings
df['date'] = df['raw'].str.extract('(....-..-..)', expand=True)
df

In [ ]:
# In the column 'raw', extract single digit in the strings
df['female'] = df['raw'].str.extract('(\d)', expand=True)
df

In [ ]:
# In the column 'raw', extract ####.## in the strings
df['score'] = df['raw'].str.extract('(\d\d\d\d\.\d)', expand=True)
df

In [ ]:
# In the column 'raw', extract the word in the strings
df['state'] = df['raw'].str.extract('([A-Z]\w{1,})', expand=True)
df

### Custom Function to Clean the data

In [ ]:
def recode_sex(sex_value):
    if sex_value == 0:
        return 'Male'
    
    elif sex_value == 1:
        return 'Female'      
    else:
        return 'NA'

In [ ]:
samp.head()

In [ ]:
sex = []
for i in range(0,len(samp)):
    val = samp.Gender.iloc[i]
    sex.append(recode_sex(val))
samp['s_loop'] = sex

In [ ]:
samp['Sex']=samp.Gender.apply(recode_sex)

In [ ]:
samp.head()

In [ ]:
df1 = df.append(df,ignore_index=True)

#Dropping Duplicate Values

df = df.drop_duplicates()

In [ ]:
df1.population[[0,2]]+= 100

In [ ]:
df1.area[0:3] +=2

In [ ]:
df1

In [ ]:
df1.drop_duplicates(subset= ['area','population'], keep)

In [ ]:
?df.drop_duplicates

df.drop_duplicates(subset=None, keep='first', inplace=False)

by default --- remove exact duplicate

Getting unique values of a variable

Joins

In [ ]:
import pandas as pd
left = pd.DataFrame({
         'id':[1,2,3,4,5],
         'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
         'subject_id':['sub1','sub2','sub4','sub6','sub5']})

In [ ]:
right = pd.DataFrame(
         {'id':[1,6,3,4,5],
         'Height': [120,110,115,119,130],
         'subject_id':['sub2','sub4','sub3','sub6','sub5']})

In [ ]:
pd.merge(left,right,on='id', how = 'outer')

In [ ]:
pd.merge(left,right,how = 'inner' , on='id')

In [ ]:
pd.merge(left,right,how = 'left' , on='id')

In [ ]:
pd.merge(left,right,how = 'right' , on='id', suffixes=('_left','_right'))

In [ ]:
?pd.merge

In [ ]:
pd.merge(left,right,how = 'right' , on='id')
emp code
employee code
on

In [ ]:
for lab, row in samp.iterrows():
        print(lab)
        print(row)

In [ ]:
for lab, row in samp.iterrows():
    print(lab,": ",row["Gender"])

In [ ]:
for lab,row in brics.iterrows():
    brics.loc[lab,"length_country"] = len(row["country"])
brics

In [ ]:
brics["name_length"] = brics["country"].apply(len)

In [ ]:
brics

exporting to csv and excel

In [ ]:
brics.to_excel('m1.xlsx')

In [ ]:
brics.to_csv('m2.csv')

In [ ]:
brics.to_excel('m.xlsx',index=False)

In [ ]:
import numpy as np

In [ ]:
#Reading dat files

df = pd.read_table("movies.dat",sep='::',header=None, names = ["MovieID","Title", "genre"])