## STRINGS IN PYTHON

'hello world' 
"this is a string"
'string'
'this is an example of a string'
'189'

1. creating a string
2. string indexing and slicing
3. python in-built methods in strings

In [2]:
'hello'

'hello'

In [4]:
print('hello')

hello

In [6]:
"hello"

'hello'

In [8]:
print("hello")

hello

In [9]:
print ('hi i am string in python')

hi i am string in python

In [10]:
print (' i'am a datascientist')

SyntaxError: invalid syntax (<ipython-input-10-55b6de50cc5a>, line 1)

In [11]:
print (" i'am a datascientist")

 i'am a datascientist

In [13]:
print("O'donald")

O'donald

In [14]:
print('1250')

1250

In [15]:
var1 = 'mystring'
print(var1)

mystring

In [16]:
type(var1)

str

In [17]:
var1 = 1000
print(var1)
print(type(var1))

1000
<class 'int'>

In [18]:
var1 = '1000'
print(var1)
print(type(var1))

1000
<class 'str'>

# STRING INDEXING

In [20]:
tststring1 = 'hello world'
print(tststring1)

hello world

In [21]:
len(tststring1)

11

letter                index
h                      0      
e                      1
l                      2
l                      3        -8
o                      4        -7
                       5        -6
w                      6        -5 
o                      7        -4
r                      8        -3
l                      9        -2 
d                      10       -1

In [24]:
print(tststring1[0])

h

In [26]:
print(tststring1[4])

o

In [27]:
print(tststring1[10])

d

In [29]:
### reverse indexing
print(tststring1[-1])
print(tststring1[-2])

d
l

### STRING SLICING
slicing captures a slice of a string
    [start:stop:step]

start is numerical index for slice start
         
stop is index you will go up to (but does not include)


step is the size of "jump" you take

In [30]:
mystring = 'abcdestring'

index notation
letter index
   a               0
   b               1
   c               2
   d               3
   e               4
   s               5
   t               6
   r               7
   i               8               -3
   n               9               -2 
   g               10              -1

In [31]:
print(len(mystring))

11

In [32]:
### grab the portion of string representing 'destring'
## start - 3
### stop - 11 
print(mystring[3:11])

destring

In [34]:
### grab "abcdes"
mystring[:6]

'abcdes'

In [35]:
## grab bc
mystring[1:3]

'bc'

In [37]:
### concatenation
tststr1 = "string1"
tststr2 = 'string2'

In [38]:
tststr1 + tststr2

'string1string2'

In [39]:
### step example
print(mystring)

abcdestring

In [43]:

print(mystring[1:11:1])

bcdestring

In [44]:
print(mystring[1:11:2])

bdsrn

In [45]:
### grab everything but for the last letter 
mystring[0:10]

'abcdestrin'

In [50]:
mystring[:-1]

'abcdestrin'

index notation
letter index
   a               0
   b               1
   c               2
   d               3
   e               4
   s               5
   t               6
   r               7
   i               8               -3
   n               9               -2 
   g               10              -1

In [ ]:
mystring[:-1]

In [ ]:
#### String properties -

In [51]:
mystr1 = 'hello world'

In [52]:
print(mystr1)

hello world

In [53]:
mystr1[0] = 'w'

TypeError: 'str' object does not support item assignment

In [55]:
mystr2 = '199090'
print(mystr2)
print(type(mystr2))

199090
<class 'str'>

In [57]:
### in built methods in string
print(mystring)

abcdestring

In [58]:
mystring.upper()

'ABCDESTRING'

In [59]:
mystring.lower()

'abcdestring'

In [60]:
mystring

'abcdestring'

In [61]:
mystring1 = 'string built-in methods examples'

In [63]:
mystring1.split()

### to get more help on split follow one of the   below procedures

## 1) go to python.org and look out for help on split()
## 2) keep the cursor on the method and hit shift+tab  to see the help

['string', 'built-in', 'methods', 'examples']

In [64]:
## split by specific element 
mystring4 = 'hello world'
print(mystring4)

hello world

In [65]:
mystring4.split('o wo')

['hell', 'rld']

In [66]:
mystring5 = 'hello;word;this;is;string;example'

In [71]:
 mystring5.split(sep=';')

['hello', 'word', 'this', 'is', 'string', 'example']

In [72]:
type(mystring5)

str

In [81]:
mystring6 = mystring5.split(sep=';')
print(mystring6)

['hello', 'word', 'this', 'is', 'string', 'example']

In [82]:
type(mystring5)

str

In [75]:
type(mystring6)

list

# LIST  IN PYTHON  #####START ##################
 
Lists can be thought of the most general version of a sequence in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

In [77]:
mylist1 = [1,2,3]
print(mylist1)
print(type(mylist1))

[1, 2, 3]
<class 'list'>

In [78]:
mylist2=['a','b','c']
print(mylist2)
print(type(mylist2))

['a', 'b', 'c']
<class 'list'>

In [80]:
mylist3= [1,2,3,10.9,'a','b','c','list example']
print(mylist3)
print(type(mylist3))

[1, 2, 3, 10.9, 'a', 'b', 'c', 'list example']
<class 'list'>

In [93]:
len(mylist3)

7

In [94]:
mylist3 = ['A String',100.9,200,(1,2),('a','b'), [1,2,3],['h','i','j']]
print(mylist3)
print(len(mylist3))

['A String', 100.9, 200, (1, 2), ('a', 'b'), [1, 2, 3], ['h', 'i', 'j']]
7

### LIST INDEXING AND SLICING

In [91]:
mylist3

['A String', 100.9, 200, (1, 2), ('a', 'b'), [1, 2, 3], ['h', 'i', 'j']]

In [92]:
mylist3[3]

(1, 2)

In [95]:
mylist3[4]

('a', 'b')

In [96]:
mylist3[5]

[1, 2, 3]

In [98]:
mylist3[5][0]

1

In [100]:
mylist3[4][0]

'a'

In [102]:
mylist3[:]
print(len(mylist3))

7

In [103]:
mylist3[:5]

['A String', 100.9, 200, (1, 2), ('a', 'b')]

In [106]:
mylist3[0:5]

['A String', 100.9, 200, (1, 2), ('a', 'b')]

In [107]:
mylist3

['A String', 100.9, 200, (1, 2), ('a', 'b'), [1, 2, 3], ['h', 'i', 'j']]

In [108]:
print(mylist3[0:4])

['A String', 100.9, 200, (1, 2)]

In [109]:
print(mylist3[4][0])

a

In [112]:
mylist3[1:6]

[100.9, 200, (1, 2), ('a', 'b'), [1, 2, 3]]

In [114]:
mylist3[1:6:2]

[100.9, (1, 2), [1, 2, 3]]

In [118]:
## list concatenation
mylist4 = "add me to mylist3"

In [119]:
mylist5 = ['one','two','three',4,5]

In [120]:
mylist5 + ['new itme']

['one', 'two', 'three', 4, 5, 'new itme']

In [121]:
### list mutability
mylist5[2] = 'four'

In [125]:
mylist5

['one', 'two', 'four', 4, 5]

In [123]:
mylist6 = [1,2,3]
mylist7 = [4,5,6]

In [124]:
mylist6 + mylist7

[1, 2, 3, 4, 5, 6]

In [127]:
mylist5 = ['one','two','three',4,5] + ['new item1']
mylist5

['one', 'two', 'three', 4, 5, 'new item1']

In [128]:
mylist5

['one', 'two', 'three', 4, 5, 'new item1']

In [129]:
mylist5[2] = 'four'

In [133]:
mylist5

['one', 'two', 'four', 4, 5, 'new item1']

In [135]:
mylist6 = mylist5

In [137]:
mylist6

['one', 'two', 'four', 4, 5, 'new item1']

In [139]:
mylist7 = [1,2,2,2,4,4,6,6]

In [140]:
mylist7

[1, 2, 2, 2, 4, 4, 6, 6]

###  LIST METHODS

In [142]:
mylist8 = [1,2,3]
print(mylist8)

[1, 2, 3]

In [143]:
## append method
mylist8.append('apped 1,more')

In [144]:
mylist8

[1, 2, 3, 'apped 1,more']

In [145]:
mylist8

[1, 2, 3, 'apped 1,more']

In [146]:
mylist8.pop(3)

'apped 1,more'

In [147]:
print(mylist8)

[1, 2, 3]

In [148]:
mylist9 = ['a','h','j','k','p']

In [149]:
mylist9.reverse()

In [150]:
print(mylist9)

['p', 'k', 'j', 'h', 'a']

In [152]:
mylist9.insert(1,'l')

In [154]:
print(mylist9)

['p', 'l', 'l', 'k', 'j', 'h', 'a']

# LIST  IN PYTHON  #####END #######

#         TUPLES   ############START  ########

    ## similar to lists
    ## immutable like strings 
        whenever you want the value within a tuple not to be changed else where in your program

In [157]:
## Tuple 
mytup1 = (1,2,3)
print(mytup1)

(1, 2, 3)

In [158]:
mytup2 = ('a','b','c')
print(mytup2)

('a', 'b', 'c')

In [163]:
mytup3  = (1,2,'a','b',100.9)
print(mytup3)

(1, 2, 'a', 'b', 100.9)

In [164]:
len(mytup3)

5

In [167]:
## tuple within a tuple
mytup4 = ((1,2),'a',1,('x','y'))

In [169]:
print(mytup4)

((1, 2), 'a', 1, ('x', 'y'))

In [173]:
## lists within a tuple
mytup5 = ([1,2,3],(1,2),['a','b'],('x','y'))
print(mytup5)

([1, 2, 3], (1, 2), ['a', 'b'], ('x', 'y'))

##  INDEXING AND SLICING IN TUPLES

In [174]:
mytup5[0]

[1, 2, 3]

In [175]:
mytup5[0][2]

3

In [176]:
mytup5[1][1]

2

In [178]:
mytup5[1:3]

((1, 2), ['a', 'b'])

In [179]:
mytup5[1:]

((1, 2), ['a', 'b'], ('x', 'y'))

In [190]:
print(mytup5)

([1, 2, 3], (1, 2), ['a', 'b'], ('x', 'y'))

In [181]:
print(len(mytup5))

4

In [186]:
print(mytup5[1:3][1][0])

a

In [191]:
print(mytup5[1:3][1][0])

a

#METHODS TUPLES

In [193]:
mytup6 = (1,2,'a','b')

In [194]:
mytup6.index('a')

2

In [200]:
mytup7 = (1,1,2,2,2,4,2,4,0.5,0.5)
mytup7.count(2)

4

In [201]:
mytup7.index(2)

2

In [197]:
### Immutability test for tuple

In [198]:
print(mytup6)

(1, 2, 'a', 'b')

In [344]:
mytup6[2] = 'd'

TypeError: 'tuple' object does not support item assignment

#         TUPLES   ############ END  ########

#               DICTIONARIES  IN PYTHON        ######START ######

In [202]:
my_dict = {'key1' : 'value1', 'key2' : 'value2'}

In [203]:
my_dict2 = {'listkey1' : [1,2,3],  'tupkey2' : (1,2,3), 'numkey':1000, 'strkey':'i am a string' }

In [204]:
print(my_dict2)

{'listkey1': [1, 2, 3], 'tupkey2': (1, 2, 3), 'numkey': 1000, 'strkey': 'i am astring'}

In [205]:
type((my_dict2))

dict

In [206]:
my_dict3 = {'strkey3':'i am a string', 'dictkey4' : {'dictkey':9000 } }

In [207]:
print(my_dict3)

{'strkey3': 'i am a string', 'dictkey4': {'dictkey': 9000}}

## indexing and slicing of dictionaries

In [212]:
print(my_dict2)

{'listkey1': [1, 2, 3], 'tupkey2': (1, 2, 3), 'numkey': 1000, 'strkey': 'i am astring'}

In [214]:
my_dict2['listkey1']

[1, 2, 3]

In [215]:
my_dict2['listkey1'][0]

1

In [216]:
my_dict2['tupkey2'][1]

2

In [300]:
family_dict = {}
print(type(person_dict))
family_dict['father_name'] = 'mydad'
family_dict['father_age'] = 51
family_dict['mother_name'] = 'mymom'
family_dict['mother_age'] = 47
family_dict['children'] = ['child1','child2','child3']
family_dict['pets']= {'dog':'mushy','cat':'squeaky'}

<class 'dict'>

In [301]:
print(family_dict)

{'father_name': 'mydad', 'father_age': 51, 'mother_name': 'mymom', 'mother_age': 47, 'children': ['child1', 'child2', 'child3'], 'pets': {'dog': 'mushy', 'cat': 'squeaky'}}

In [309]:
print(family_dict['children'])
print(family_dict['pets'])

['child1', 'child2', 'child3']
{'dog': 'mushy', 'cat': 'squeaky'}

##  Restrictions with Dictionary

In [306]:
### key duplication in dictionary
MLB_team = {'Colorado' : 'Rockies','Boston'   : 'Red Sox','Minnesota': 'Twins','Milwaukee': 'Brewers',
 'Seattle'  : 'Mariners'}

In [307]:
### key duplication in dictionary
### note that the Minnosota key is repeated 

MLB_team = {'Colorado' : 'Rockies','Boston'   : 'Red Sox','Minnesota': 'Twins','Milwaukee': 'Brewers',
 'Seattle'  : 'Mariners','Minnesota': 'Timberwolves'}

In [308]:
print(MLB_team) 
### note only the last occurrence of Minnosata is considered. 
### key override has happened where in second Minnosata has overridden the first

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Timberwolves', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}

In [317]:
### dictionary keys should be type immutable
### keys of a dictionary can be a tuple or a string or a number or a float because keys of dictionary need to be immutable

In [319]:
d1 = {(1, 1): 'a', (1, 2): 'b', (2, 1): 'c', (2, 2): 'd'}   ### this is accepted

In [323]:
d2 = {(1, 2):'b',[5,6,'x']:'a' , (2, 1): 'c', (2, 2): 'd',[1,2,'x']:'a' }   
### this gives an error as the key [1,2,'x']  is a list and Lists are mutable objects

TypeError: unhashable type: 'list'

Technical Note: Why does the error message say “unhashable”?

Technically, it is not quite correct to say an object must be immutable to be used as a dictionary key. More precisely, an object must be hashable, which means it can be passed to a hash function. A hash function takes data of arbitrary size and maps it to a relatively simpler fixed-size value called a hash value (or simply hash), which is used for table lookup and comparison.

Python’s built-in hash() function returns the hash value for an object which is hashable, and raises an exception for an object which isn’t:

In [315]:
d3={'keystring':'x', (1, 2): 'b', (2, 1): 'c', (2, 2): 'd'}  ### this is possible

In [316]:
d4={1000:'value of 1000', 100.9:'value of 100.9', 'v':199}  ### this is possible

In [329]:
d4={'k1':1000, 'k2':2000,'k3':3000}

In [341]:
d5 =  {0: 'a', 1: 'b', 2: 'c', 3: 'd'}

In [342]:
### 
d5[-1] 

### gives key erorr because there is no key called -1

KeyError: -1

In [343]:
d5[0:2]

TypeError: unhashable type: 'slice'

In [226]:
my_dict2

{'listkey1': [1, 2, 3],
 'tupkey2': (1, 2, 3),
 'numkey': 1000,
 'strkey': 'i am astring'}

 #### METHODS IN DICTIONARY

In [230]:
my_dict_7 = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2'],'key4':{'sk1':1,'sk2':2}}

In [231]:
my_dict_7.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [232]:
my_dict_7.items()

dict_items([('key1', 123), ('key2', [12, 23, 33]), ('key3', ['item0', 'item1', 'item2']), ('key4', {'sk1': 1, 'sk2': 2})])

In [234]:
my_dict_7.values()

dict_values([123, [12, 23, 33], ['item0', 'item1', 'item2'], {'sk1': 1, 'sk2': 2}])

In [236]:
my_dict_7['key3'][0].upper()

'ITEM0'

In [239]:
my_dict_7['key3'][0].lower()

'item0'

In [243]:
###dictionaries are mutable
my_dict_7['key3'] = ['a','b']

In [244]:
print(my_dict_7)

{'key1': 123, 'key2': [12, 23, 33], 'key3': ['a', 'b'], 'key4': {'sk1': 1, 'sk2': 2}}

In [246]:
my_dict_7['key3'] = ('a','b')

In [248]:
print(my_dict_7)

{'key1': 123, 'key2': [12, 23, 33], 'key3': ('a', 'b'), 'key4': {'sk1': 1, 'sk2': 2}}

#               DICTIONARIES  IN PYTHON        ###### END  ######

#   SETS     IN PYTHON   ##### START #####
collection of unique elements

In [249]:
x = set()

In [250]:
print(type(x))

<class 'set'>

In [251]:
### to add a value into a set
x.add(1)

In [252]:
print(x)

{1}

In [255]:
x.add(2)
print(x)

{1, 2}

In [256]:
x.add(1)
print(x)

{1, 2}

In [258]:
## set and list
setlist1 = [1,1,2,2,3,100,100,5,5,5.0,8,10]

In [259]:
### create a set out of the above list
set(setlist1)

{1, 2, 3, 5, 8, 10, 100}

In [261]:
setlist2 = [1,1,2,2,3,100,100,5,5,5.6,8,10]
set(setlist2)

{1, 2, 3, 5, 5.6, 8, 10, 100}

In [264]:
setlist3 = [10,99,299,299,300,100,100,5,5,5.6,8,10]
myset3 = set(setlist3)
print(myset3)

{99, 100, 5, 5.6, 8, 10, 299, 300}

In [265]:
print(type(myset3))

<class 'set'>

In [266]:
setlist5 = [1,1,2,'a',3.9,'99']

In [267]:
set(setlist5)

{1, 2, 3.9, '99', 'a'}

In [363]:
setlist5.clear()

In [364]:
setlist5 = [(1,1)]

In [365]:
setlist5.append(1000)

In [366]:
print(setlist5)

[(1, 1), 1000]

In [367]:
setlist5.append(1000.5)

In [368]:
print(setlist5)

[(1, 1), 1000, 1000.5]

In [370]:
setofsetlist5 = set(setlist5)

In [375]:
print(setofsetlist5)
print(type(setofsetlist5))

{1000, 1000.5, (1, 1)}
<class 'set'>

In [380]:
setlist5.append([1,2,3])
setlist5

[(1, 1), 1000, 1000.5, [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [387]:
setlist5.pop(3)

[1, 2, 3]

In [388]:
setlist5

[(1, 1), 1000, 1000.5, [1, 2, 3]]

In [389]:
 setofsetlist5 = set(setlist5) 
    
    ### note the error..when a set is created out of lists, you will be getting unhashable

TypeError: unhashable type: 'list'

In [399]:
setlist5.append({1:'x'})

In [402]:
setlist5

[(1, 1), 1000, 1000.5, {1: 'x'}]

In [401]:
setlist5.pop(3)

{1: 'x'}

In [403]:
setofsetlist5 = set(setlist5)

TypeError: unhashable type: 'dict'

In [378]:
setofsetlist5

{(1, 1), 1000, 1000.5}

In [ ]:
## SET INTERSECTION AND UNION

In [289]:
auto_survey = set(['chevy','bmw','suzuki','ford','toyota','honda','bmw'])
print(auto_survey)
print(type(auto_survey))
print(len(auto_survey))

{'bmw', 'honda', 'toyota', 'ford', 'chevy', 'suzuki'}
<class 'set'>
6

In [290]:
auto_survey1 = set(['bmw','chevy','suzuki','hyundai','kia','holden','scion','lambhorgini','konigsegg','nissangt'])

In [ ]:
## SET UNION - Combines the elements of 2 sets and removes duplicates

In [291]:
set_union = auto_survey | auto_survey1

In [292]:
print(set_union)

{'konigsegg', 'bmw', 'scion', 'kia', 'honda', 'toyota', 'nissangt', 'chevy', 'holden', 'lambhorgini', 'hyundai', 'ford', 'suzuki'}

In [293]:
#set intersection - picks up the common elements between 2 sets
set_intersect = auto_survey & auto_survey1
print(set_intersect)
print(type(set_intersect))

{'bmw', 'chevy', 'suzuki'}
<class 'set'>

#   SETS     IN PYTHON   ##### END #####

# BOOLEANS

In [281]:
a = True

In [282]:
print(a)

True

In [283]:
### output is boolean

1 > 2

False

In [284]:
2 < 1

False

In [287]:
mylist2

['a', 'b', 'c']

In [288]:
'a' in mylist2

True